@import 'mixins';

// CONSTANTS
// ---------
$unit: 20px;
$column: 600px;
$base-font-size: 15px;
$base-line-height: 22px;

$background-color: #111;
$middleground-color: #333;
$foreground-color: #666;
$highlight-color: #ccc;

// BASE
// ----
body {
  margin: 0;
  padding: 0;
  background: $background-color;
}

img, iframe, embed, object {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: $foreground-color;
  text-decoration: underline;
}

// TYPE
// ----
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  color: $foreground-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// STRUCTURE
// ---------
#container {
  min-width: 1000%;
  height: 100%;
  padding: $unit 0;
  @include clearfix;
  @include border-box;

  #main {
    float: left;
  }
}

#loading, footer {
  position: fixed;
  bottom: $unit;
  right: $unit;
  width: 200px;
  height: 63px;
}

#loading {
  display: none;
  background: red;
  @include loading;
}

.loading {
  @include loading;
}

footer {
  @include opacity(50);
  @include transition(opacity 0.25s);

  &:hover {
    @include opacity(100);
  }
}

.column-wrap {
  float: left;
}

.column {
  display: table;
  height: 100%;
  @include border-box;
  
  .connections, .stream {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    overflow-y: scroll;
  }

  .connections {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0 $unit;
        text-align: right;

        &.active {
          margin: $unit 0;
          padding-left: 0;
        }

        a {
          padding: 1px 4px 2px;
          font-size: $base-font-size * .846;
          font-weight: bold;
          line-height: 14px;
          color: #fff;
          vertical-align: baseline;
          white-space: nowrap;
          text-shadow: 0 -1px 0 rgba(0,0,0,.25);
          background-color: $foreground-color;
          text-decoration: none;

          &.active {
            background-color: red;
            margin-right: -$unit;
            display: block;
          }

          &:hover {
            background-color: lighten($foreground-color, 20);
          }
        }
      }
    }
  }

  .stream {
    float: left;
    border: 2px solid $middleground-color;
    width: $column;
    margin: 0;
    background: lighten($background-color, 5);

    // Also applies to nested headers
    header {
      padding: $unit/2;
      text-align: center;
      color: $highlight-color;
      font-weight: bold;

      // Main header
      &.channel {
        text-transform: uppercase;
        border-bottom: 2px solid #222;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        color: #fff;
      }
    }

    .post {
      margin: 0 0 $unit*2;
      overflow: hidden;

      header, .content {
        margin: $unit/2 0;
      }

      header {
        text-align: left;
        padding: $unit;
      }

      .content {
        padding: $unit;
      }
    }
  }
}

#toggle {
  display: none;
}

#navigation {
  display: none;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      width: 25%;
      margin: 0 $unit $unit 0;
    }
  }
}