@import "mixins";

// BASE
// ----
body {
  margin: 0;
  padding: 0;
  background: $background-color;
}

img, iframe, embed, object {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: $foreground-color;
  text-decoration: underline;
}

blockquote {
  margin: 0;
  padding: 0 0 0 $unit;
  border-left: 2px solid #222;
}

// TYPE
// ----
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  color: $foreground-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// STRUCTURE
// ---------
#container {
  min-width: 100%;
  height: 100%;
  padding: 0;
  @include clearfix;
  @include border-box;

  #main {
    overflow-x: scroll;
    white-space: nowrap;

    .column-wrap:first-child {
      border-color: yellow;
    }

    .column-wrap {
      display: inline-block;
      white-space: normal;
      vertical-align: top;
    }
  }
}

// FRAGMENT
// --------
.column {
  @include border-box;
  @include clearfix;
  height: 100%;
  
  .connections, .channel {
    @include border-box;
    float: left;
    height: 100%;
    padding: $unit 0;
    overflow-y: scroll;
  }

  .connections {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0 $unit;

        &.active {
          margin: $unit 0;
          padding-left: 0;
        }

        a {
          padding: 1px 4px 2px;
          font-size: $base-font-size * .846;
          font-weight: bold;
          line-height: 14px;
          color: #fff;
          vertical-align: baseline;
          white-space: nowrap;
          text-shadow: 0 -1px 0 rgba(0,0,0,.25);
          background-color: $foreground-color;
          text-decoration: none;

          &.active {
            background-color: red;
            margin-right: -$unit;
            display: block;
          }

          &:hover {
            background-color: lighten($foreground-color, 20);
          }
        }
      }
    }
  }

  .channel {
    float: left;
    width: $column;
    margin: 0;

    .document {
      border: 2px solid $middleground-color;
      background: lighten($background-color, 5);
      @include transition(border-color 0.25s);

      &.active {
        border-color: red;
      }
    }

    // Also applies to nested headers
    header {
      padding: $unit/2;
      text-align: center;
      color: $highlight-color;
      font-weight: bold;

      // Main header
      &.title {
        text-transform: uppercase;
        border-bottom: 2px solid #222;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        color: #fff;

        &.active {
          background-color: #000;
          text-shadow: 0 -1px 0 rgba(0,0,0,.25);
          color: #fff;
        }
      }
    }

    .post {
      margin: 0 0 $unit*2;
      overflow: hidden;

      header, .content {
        margin: $unit/2 0;
      }

      header {
        margin: $unit/2 0;
        padding: 0 $unit;
        text-align: left;
      }

      .content {
        padding: $unit;
      }

      .description {
        margin: $unit 0;
      }
    }
  }
}

// EMBED PREVIEW
// -------------
.preview {
  position: relative;

  img {
    width: 100%;
  }

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid red;
  }
}

// PERSISTENT BRANDING / LOAD INDICATOR
// ------------------------------------
footer {
  position: fixed;
  bottom: $unit;
  right: $unit;
  width: 200px;
  height: 63px;
  
  img {
    @include opacity(50);
    @include transition(opacity 0.25s);

    &:hover { @include opacity(100); }
  }
}

// UTILITY
// -------
.loading { @include loading; }

.hide { display: none; }
